# Kopier denne filen til .env og fyll inn hemmeligheten.
# Hentes fra Mailmojo: Konto > API-klienter (https://v3.mailmojo.no/auth/clients/)

MAILMOJO_CLIENT_ID=073cb990-f7a1-4fc0-83dd-663b5ac6d557
MAILMOJO_CLIENT_SECRET=lim_inn_klienthemmelighet_her
